@font-face {
    font-family: 'Arboria-Medium';
    src: url('./fontes/Arboria-Medium.otf') format('opentype'),
         url('./fontes/Arboria-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Arboria-Book';
    src: url('./fontes/Arboria-Book.otf') format('opentype'),
         url('./fontes/Arboria-Book.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

:root {
    -color-white: #fff;
    -color-gray: #f1f2f3;
    -color-gray2: #dadbdf;
    -color-green: #cacf3d;
    -color-blue1: #11162c;
    -color-blue2: #11152b;
    -color-text: #22273c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

body {
    background:#fff;
    color: #22273c;
}

html {
    font-family: 'Arboria-Medium', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/* Estilizando o Header, barra de navegação superior */
.nav_head {
    width: 90%;
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu_head {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    gap: 3rem;
    text-decoration: none;
}

.text_head {
    color: #11162c;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.25rem;
    text-decoration: none;
    transition: 100ms;
}

.img_logo {
    height: auto;
    width: 180%;
}

.ancora_img {
    width: 10rem;
}

.text_head:hover {
    border-bottom: 0.2rem solid #dadbdf;
}
/* Final da estilização do Header */



/* Estilizando o Hero, parte principal da pagina */
.img-back {
    background-image: url(./img/img_background.png);
    background-size: cover; /* ou use 'contain' conforme a necessidade */
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 93.63vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 0.3rem solid #cacf3d;
}

.text_hero {
    color:#fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.375rem;
    line-height: 2.688rem;
    font-weight: 500;
    border-left: 0.7rem solid #cacf3d;
    padding: 0rem 1rem;
}

.div_hero {
    display: flex;
    align-items: center;
}
/* Final do hero */



/* Estilizando os cards e button */
.two_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1.6rem;
    height: 46.64vh;
    flex-wrap: wrap; /* Permite que os blocos quebrem linha conforme necessário */
}

.box_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.125rem;
    background: #f1f2f3;
    width: 18.22vw;
    height: 26.30vh;
    margin: 1rem; /* Espaço entre os blocos */
}

.box_text {
    background: #dadbdf;
    border-radius: 0.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:  7.67vh;
}

.text {
    text-transform: uppercase;
    color: #11162c;
    font-weight: 500;
    font-size: 0.8rem;
    letter-spacing: 0.125rem;
    line-height: 0.438rem;
}

.box_img {
    border-top: 1rem solid #f1f2f3;
    border-bottom: 0.2rem solid #f1f2f3;
    width: 110px;
    height: 119px;
}

.div_button {
    display: flex;
    justify-content: center;
    align-items: start;
    width: auto;
    height: 14.24vh;
}

.text_button {
    background: #11162c;
    border: 0.127rem solid #cacf3d;
    color: #cacf3d;
    text-transform: uppercase;
    border-radius: 0.125rem;
    width: 42.70vw;
    height:  8.76vh;
    font-size: 1.1rem;
    letter-spacing: 0.4em;
    line-height: 6px;
    font-weight: 500;
    font-family: 'Arboria-Book';
    cursor: pointer;
    box-shadow: 0 5px 10px #cacf3d65;
    transition: all 0.4s;;
}

.text_button:hover {
    opacity: 0.90;
}

.text_button:active {
    transform: scale(0.9);
}
/* Final dos cards e buttons */



/* Estilizando o footer*/
.section_info {
    background: #cacf3d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10.95vh;
}

.div_contato  {
    display: flex;
    align-items: center;
}

.div_zap {
    display: flex;
    align-items: end;
    height: 4.38vh;
}

.logo_zap {
    width: 2rem;
    height: 2rem;
}

.div_ddd {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 4.38vh;
}

.ddd {
    margin: 0 0.5rem 0 0.5rem;
    font-size: 1rem;
    letter-spacing: 0.063rem;
    /* line-height: 1.5rem; */
    font-weight: 500;
    
}

.div_number {
    display: flex;
    align-items: end;
    height: 4.38vh;
}

.number {
    white-space: nowrap;
    font-size: 1.5rem;
    letter-spacing: 0.063rem;
    line-height: 1.5rem;
    font-weight: 500;
}

.info {
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    width: auto;
}

.logo_face,
.logo_linkedin,
.logo_instagram {
    width: 32px;
    height: 32px;
    transition: all 0.4s;
}

.e-mail {
    color:#11162c;
    text-decoration: none;
    transition: all 0.7s;
}

.logo_face:hover,
.logo_linkedin:hover,
.logo_instagram:hover {
    opacity: 0.85;
}

.e-mail:hover {
    border-bottom: 1px solid #11162caf;
}

.link_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    width: 100%;
    height: 10.95vh;
}

.text_link {
    color: #11162c;
    font-size: 0.813rem;
    line-height: 2.5rem;
    font-weight: 500;   
    transition: 0.3s; 
}

.text_link:hover {
    font-size: 1rem;
}
/* Final do footer */



/* ===== BreakPoint ====== */
@media (max-width: 1440px) {
    .box_info {
        height: 23.3vh;
    }

    .two_section {
        height: 45.5vh;
    }

    .div_contato {
        padding-bottom: 12px;
    }

    .img-back {
        height:  86.63vh;
    }
}

@media (max-width: 1355px) {
    .text_button {
        font-size: 1rem;
    }
}

@media (max-width: 1245px) {
    .box_info {
        width: 20vw;
    }
}

@media (max-width: 1189px) {
    html {
        font-size: 85%;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 80%;
    }
    
    .text_button {
        font-size: 1rem;
    }

    .box_img {
        width: 110px;
        height: 119px;
    }

    .box_text {
        height: 5.67vh;
    }

    .box_info {
        height: 24.5vh;
        width: 24vw;
    }

    .img-back {
        height: 86.63vh;
    }

    /* Footer colocar nas outras paginas */
    .div_contato {
        padding-bottom:  8px;
    }

    .logo_face,
    .logo_instagram,
    .logo_linkedin {
        width: 25px;
        height: 25px;
    }
    /* Final do footer */
}

@media (max-width: 920px) {
    html {
        font-size: 75%;
    }

    .section_info {
        height: 9vh;
    }
}

/* Copiar e colar nas outras paginas de CSS, menu hamburguer */
@media (max-width: 900px) {
    /* 
    Jogar esse menu responsivo em todas os js de todas as paginas,
    pq todas as paginas precisam desse menu, é algo generico.
         ===== Menu responsivo - Tipo Hamburguer ===== 
     */
     .nav {
        display: none;
        z-index: 9;
    }

    .one,
    .two,
    .three {
        background-color: #11162c;
        height: 4px;
        width: 100%;
        margin: 5px auto;
        border-radius: 3px;

        transition-duration: .3s;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }

    /* Fullscreen */
    .menu-section.on {
        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;
        background-color: #cacf3d;
        z-index: 9;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 0;
        top: 15px;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(6px, -6px);
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 2rem;
        row-gap: 3rem;
    }

    .nav {
        height: 70vh;
    }
    .nav ul li {
        width: 100%;
    }

    .text_head {
        font-size: 1.2rem;
        transition-duration: .5s;
        line-height: 4rem;
        display: block;
    }

    .text_head:hover {
        background-color: #dadbdf79;
        border: none;
    }

    .nav_head {
        flex-direction: row;
        width: 100%;
    }
    /* ===== final do menu responsivo Hamburguer ===== */
}

@media (max-width: 768px) {
    /* Estilizando o main com a img de fundo e texto */
    .img-back {
        background-image: url(./img/img_background-768px.png);
        height: 45vh;
        width: 100%;
        max-width: 768px;
        background-size: 80rem;
    }

    .text_hero {
        font-size: 99%;
    }

    /* Estilizando cards */
    .box_info {
        width: 25.22vw;
        height: 24vh;
    }

    .box_text {
        height: 5.67vh;
    }

    /* logo */
    .logo_face,
    .logo_instagram,
    .logo_linkedin {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 710px) {
    /* Estilizando local das informações */
    .box_info {
        height: 24vh;
        width: 220px;
    }

    .two_section {
        height: 70vh;
    }

    .div_button {
        height: 16,324vh;
    }
    /* Final da estilização dos  */
}

@media (max-width: 630px) {
    /* Texto do button */
    .text_button {
        font-size: 0.75rem;
        width: 220px;
        height: 7vh;
    }
    /* Final do texto do button */

    /* Estilizando o footer, jogar para as outras paginas do site */
    .e-mail {
        font-size: 90%;
    }

    .section_info {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0.5rem;
        height: 12.95vh;
    }

    .number {
        font-size: 1.3rem;
    }

    .ddd {
        font-size: 0.9rem;
    }

    .logo_zap {
        width: 1.7rem;
        height: 1.7rem;
    }

    .logo_face,
    .logo_instagram,
    .logo_linkedin {
        width: 20px;
        height: 20px;
    }

    .link_footer {
        height: 9.95vh;
    }

    /* Header */
    .one, .two, .three {
        width: 80%;
    }
    /* Final do footer e header, jogar essa estilização para os outras paginas */
}

@media (max-width: 509px) {
    /* Local dos blocos de informações */
    .two_section {
        height: 95vh;
    }
    /* Final do bloco */
}

@media (max-width: 426px) {
    /* Estilizando o resto da pagina */
    .text_button {
        font-size: 0.8rem;
        width: 58%;
        height: 7vh;
    }

    .two_section {
        flex-direction: column;
        height: auto;
        padding: 15px 0;
        row-gap: 25px;
        margin-top: 17px;
        margin-bottom: 17px;
    }

    .box_info {
        width: 57vw;
        height: 75%;
    }
    .box_img {
        width: 80px;
        height: 90px;
    }

    /* Estilizando img_back */
    .img-back {
        background-size: 42rem;
        background-position: -33px 0;
        height: 169px;
        gap: 8rem;
    }

    .text_hero {
        font-size: 0.8rem;
        line-height: 1.8rem;
        letter-spacing: 0.3rem;
    }
}

/* Essa @media é só copiar e colar em todas as outras paginas do site */
@media (max-width: 376px) {
    .img_logo {
        content: url(./img/logo_T.png);
        width: 35px;
        height: 35px;
        margin-left: 10px;
    }

    .img-back {
        background-position: -6em 0em;
    }
}

@media (max-width: 321px) {
    /* Alterando o tamanho do footer, jogar para outras paginas */
    .text_link {
        font-size: 0.7rem;
    }

    .link_footer {
        column-gap: 1.5rem;
    }
    /* Final do footer */


    /* Reposicionando img */
    .img-back {
        background-position: -10em 0em;
    }
    /* Final da img */


    /* Estilizando texto da img */
    .text_hero {
        font-size: 0.7rem;
        line-height: 1.5rem;
        letter-spacing: 0.2rem;
        padding: 0rem 0.6rem;
    }
    /* Final do titulo */


    /* Estilizando bloco informativo */
    .box_info {
        width: 70%;
    }

    .text_button {
        width: 70%;
    }
    /* Final do bloco */
}